@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-image: url('c:\code\wu1-validation\img/IMG_20200727_113945.jpg');
  background-size: cover;
  background-color: #666666;
  font-size: 1;
  font-family: 'Montserrat, sans-serif';
  font-weight: 400;
}

.page {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(66, 66, 66, 0.4);
  color: #efefef;
}

footer {
  padding-top: 3rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  border-bottom: 2px solid #efefef;
} 

.geotitle {
  width: 75%;
}


.lead {
  font-size: 1.4rem;
}

.info {
  float: right;
  margin: 1rem
}

.info h3 {
  color: #efefef;
  margin-bottom: 0.2;
}

